<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksmart.harulook.mall.service.MallMapper">

	<resultMap type="com.ksmart.harulook.mall.service.MallDto" id="mallPro">
		<result property="mallProNo" column="mall_pro_no"></result>
		<result property="mallProName" column="mall_pro_name"></result>
		<result property="mallProPrice" column="mall_pro_price"></result>
		<result property="mallProCate" column="mall_pro_cate"></result>
		<result property="mallProImg" column="mall_pro_img"></result>
		<result property="cooContractNo" column="coo_contract_no"></result>
	</resultMap>

	<resultMap type="com.ksmart.harulook.mall.service.MallVisitorDto" id="mallVisitor">
		<result property="mallVistorNo" column="coo_visitor_no"></result>
		<result property="mallVisitorIp" column="coo_visitor_ip"></result>
		<result property="mallVistorDatetime" column="coo_visitor_datetime"></result>
		<result property="mallVisitorInflux" column="coo_visitor_influx"></result>
		<result property="cooContractNo" column="coo_contract_no"></result>

	</resultMap>
	
	<resultMap type="com.ksmart.harulook.mall.service.MallSaleDto" id="mallSale">
		<result property="userId" column="user_id"></result>
		<result property="mallProName" column="mall_pro_name"></result>
		<result property="mallSaleAmount" column="mall_sale_amount"></result>
		<result property="mallSaleTotal" column="mall_sale_total"></result>
		<result property="mallSaleDate" column="mall_sale_date"></result>
		
	</resultMap>
	
	<!-- 상품 상세보기 -->
	<select id="mallProDetail" resultMap="mallPro">
		SELECT mall_pro_no,
		mall_pro_name, mall_pro_price, mall_pro_cate, mall_pro_img
		FROM mall_pro
		WHERE mall_pro_no = #{mallProNo};
	</select>

	<!-- 구매한 상품 입력 -->
	<insert id="mallSaleUserInsert" parameterType ="com.ksmart.harulook.mall.service.MallSaleDto">
	INSERT INTO mall_sale
	(
	user_id
	,mall_pro_no
	,mall_sale_amount
	,mall_sale_price
	,mall_sale_total
	,mall_sale_date
	,coo_contract_no
	)
	VALUES 
	(
	#{userId}
	,#{mallProNo}
	,#{mallSaleAmount}
	,#{mallSalePrice}
	,#{mallSaleTotal}
	,now()
	,(
		SELECT coo_contract_no 
		FROM coo_contract 
		WHERE coo_contract_code =#{cooContractCode}
		)
	)
	</insert>
	
	<!-- 비회원 상품 구매 -->
	<insert id="mallSaleNonInsert" parameterType ="com.ksmart.harulook.mall.service.MallSaleDto">
	INSERT INTO mall_sale
	(
	mall_pro_no
	,mall_sale_amount
	,mall_sale_price
	,mall_sale_total
	,mall_sale_date
	,coo_contract_no
	)
	VALUES 
	(
	#{mallProNo}
	,#{mallSaleAmount}
	,#{mallSalePrice}
	,#{mallSaleTotal}
	,now()
	,(
		SELECT coo_contract_no 
		FROM coo_contract 
		WHERE coo_contract_code =#{cooContractCode}
		)
	)
	</insert>

	<!-- 할인코드 확인 -->
	<select id ="vaildCooContractCode"  parameterType="String" resultType="String">
	SELECT coo_contract_dc
	FROM coo_contract
	WHERE coo_contract_code= #{cooContractCode}
	</select>
	
	<!-- 방금 구매한 내역 보기 -->
	<select id = "getMallBuyNow" resultMap="mallSale">
	SELECT 
		mall_pro.mall_pro_name
		,mall_sale.mall_sale_amount
		,mall_sale.mall_sale_total
		,mall_sale.mall_sale_date
	FROM 
		mall_sale
	JOIN 
		mall_pro
	ON 
		mall_pro.mall_pro_no=mall_sale.mall_pro_no 
	ORDER BY mall_sale.mall_sale_date DESC LIMIT 0,1
	</select>
	
	<!-- 내 주문내역 전체보기 -->
	<select id = "getMallBuyList" parameterType="String" resultMap="mallSale">
	SELECT 
		mall_sale.user_id
		,mall_pro.mall_pro_name
		,mall_sale.mall_sale_amount
		,mall_sale.mall_sale_total
		,mall_sale.mall_sale_date
	FROM 
		mall_sale
	JOIN 
		mall_pro
	ON 
		mall_pro.mall_pro_no=mall_sale.mall_pro_no
	WHERE 
		mall_sale.user_id=#{userId} 
	</select>
	
	<!-- 일별 접속자 수 조회 -->
	<select id="dailyMallVistor">
	SELECT coo_visitor_date, count(coo_visitor_no)
	FROM coo_visitor
	GROUP BY coo_visitor_date
	</select>
	
	<!-- 주별 접속자 수 조회 -->
	<select id="weeklyMallVisitor">
	SELECT DATE_FORMAT(DATE_SUB(`coo_visitor_date`, INTERVAL (DAYOFWEEK(`coo_visitor_date`)-1) DAY), '%Y/%m/%d') as start,
       DATE_FORMAT(DATE_SUB(`coo_visitor_date`, INTERVAL (DAYOFWEEK(`coo_visitor_date`)-7) DAY), '%Y/%m/%d') as end,
       DATE_FORMAT(`coo_visitor_date`, '%Y%U') as 'date',
       count(coo_visitor_no)
 	FROM coo_visitor
 	GROUP BY date; 
	
	</select>
	<!-- 월별 접속자 수 조회 -->
	<select id="monthlyMallVisitor">
	SELECT 
		month(coo_visitor_date) as 'month', count(coo_visitor_no)
	FROM 
		coo_visitor
	GROUP BY 
		month
	
	</select>
	
	<!-- 쇼핑몰 방문자 번호 가져오기 -->
	<select id="getLastMallVisitor" resultType="String">
		SELECT
			max(CAST(substring(coo_visitor_no,13) AS DECIMAL))
		FROM 
			coo_visitor
	</select>
	
	<!-- 쇼핑몰방문자 입력처리 -->
	<insert id="insertMallVitor" parameterType="com.ksmart.harulook.mall.service.MallVisitorDto">
	INSERT INTO coo_visitor
	(
	coo_visitor_no
	,coo_visitor_ip
	,coo_visitor_datetime
	,coo_visitor_influx
	,coo_contract_no
	)
	VALUES 
	(
	#{mallVisitorNo}
	,#{mallVisitorIp}
	,NOW()
	,#{mallVisitorInflux}
	,#{cooContractNo}
	)
	</insert>
	
	
</mapper>