<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksmart.harulook.comment.CommentMapper">
	<resultMap type="com.ksmart.harulook.dto.CommentDto" id="comment">
		<result property="snsCommentNo" column="sns_comment_no" />
		<result property="snsBoardNo" column="sns_board_no"/>
		<result property="userId" column="user_id"/>
		<result property="snsCommentDate" column="sns_comment_date"/>
		<result property="snsCommentContent" column="sns_comment_content"/>
	</resultMap>
	
	<!-- 댓글 삭제(기능 확인용 - 나중에 아이디 일치할 때만 삭제 가능하도록 수정해야함) -->
	<delete id="commentDelete" parameterType="String">
		DELETE 
		FROM sns_comment 
		WHERE sns_comment_no = #{snsCommentNo}
	</delete>
	
	<!-- 게시물 상세보기에서 댓글 조회 -->
	<select id="commentList" parameterType="String"  resultMap="comment">
		SELECT 
			sns_comment_no
			,sns_board_no
			,user_id
			,sns_comment_content
			,sns_comment_date
		FROM sns_comment
		WHERE sns_board_no = #{snsBoardNo}
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="commentInsert" parameterType="com.ksmart.harulook.dto.CommentDto">
		INSERT INTO sns_comment (
			sns_comment_no
			,sns_board_no
			,user_id
			,sns_comment_content
			,sns_comment_date
		)
 		VALUES (
 		#{snsCommentNo}
 		,#{snsBoardNo}
 		,#{userId}
 		,#{snsCommentContent}
 		,now()
 		)
	</insert>
	
	<!-- 가장 최근에 입력된 댓글 번호 가져오기 -->
	<select id="getLastCommentNo" resultType="String">
		SELECT
			max(CAST(substring(sns_comment_no,13) AS DECIMAL))  
		FROM sns_comment
	</select>
	
</mapper>