<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ksmart.harulook.adrefund.service.AdRefundMapper">
 <resultMap type="com.ksmart.harulook.adrefund.service.AdRefundDto" id="refundList">
 	<result property="refundNo" column="refund_no"/>
 	<result property="adContractNo" column="ad_contract_no"/>
 	<result property="refundPrice" column="refund_price"/>
 	<result property="refundDate" column="refund_date"/>
 	<result property="refundRequestDate" column="refund_request_date"/>
 	<result property="refundStat" column="refund_stat"/>
 </resultMap>
 <select id="selectRefundList" resultMap="refundList">
 		SELECT refund_no
 			  ,ad_contract_no
 			  ,refund_price
 			  ,refund_date
 			  ,refund_stat
 			  ,refund_request_date
		FROM refund
 </select>
  <select id="selectRefundListAdUser" resultMap="refundList">
 		SELECT refund.refund_no
 			  ,refund.ad_contract_no
 			  ,refund.refund_price
 			  ,refund.refund_date
 			  ,refund.refund_stat
 			  ,refund.refund_request_date
		FROM refund
		JOIN ad_contract
		ON ad_contract.ad_contract_no = refund.ad_contract_no	
		WHERE ad_contract.user_id = #{SID}
		      
			  
 </select>
 <select id="getRefundNo" resultType="String">
 		 SELECT
            max(CAST(substring(refund_no,8) AS DECIMAL))  
        FROM refund 
 
 </select>
 
 <insert id="insertRefund">
 		INSERT INTO refund
			(refund_no
			,ad_contract_no
			,refund_price
			,refund_date
			,refund_stat
			,refund_request_date)
			VALUES (#{refundNo}
				   ,#{adContractNo}
				   ,#{refundPrice}
				   ,''
				   ,'결제정보입력대기'
				   ,NOW()) 
 </insert>
 <update id="updateRefund">
		UPDATE refund
	SET
		refund_stat='환불정보입력완료',
		refund_date= now()
	WHERE 
		refund_no=#{refundNo}	
 </update>
  <update id="approveRefund">
		UPDATE refund
	SET
		refund_stat='환불완료'
	WHERE 
		refund_no=#{refundNo}
 </update>
 
</mapper>		