<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ksmart.harulook.member.service.MemberMapper">
     
    <resultMap type="com.ksmart.harulook.member.service.MemberDto" id="member">
		<result property="userId" column="user_id"/>
		<result property="userPw" column="user_pw"/>
		<result property="userNick" column="user_nick"/>
		<result property="userName" column="user_name"/>
		<result property="userTel" column="user_tel"/>
		<result property="userEmail" column="user_email"/>
		<result property="userAddr" column="user_addr"/>
		<result property="userGender" column="user_gender"/>
		<result property="userAge" column="user_age"/>
		<result property="userTall" column="user_tall"/>
		<result property="userSize" column="user_size"/>
		<result property="userQ" column="user_q"/>
		<result property="userA" column="user_a"/>
		<result property="userLevel" column="user_level"/>
		
		<result property="userBsNo" column="user_bs_no"/>
		<result property="userBsType" column="user_bs_type"/>
		<result property="userBsStatus" column="user_bs_status"/>
		<result property="userBsName" column="user_bs_name"/>
		<result property="userUrl" column="user_url"/>
		
		<result property="userPoint" column="user_point"/>
		<result property="userDate" column="user_date"/>
		
		<result property="colorValue" column="color_value"/>
		<result property="styleValue" column="style_value"/>
	</resultMap>
		
		<!-- 로그인 -->
     	<select id="login" parameterType="java.util.Map" resultMap="member">
			select user_id, user_pw, user_level, user_nick
			from user
			where user_id = #{userId};
    	</select>
		
		<!-- 사업자회원정보보기  + 관리자 회원정보-->
     	<select id="businessDetail" parameterType="java.util.Map" resultMap="member">
			select user_id
				,user_nick
				,user_name
				,user_email
				,user_tel
				,user_addr
				,user_level
				,user_bs_no
				,user_bs_type
				,user_bs_status
				,user_bs_name
				,user_url
				,user_date 
			from user
			where user_id = #{userId}
			;
		</select>
		
		<!-- 회원스타일 -->
     	<select id="userStyle" parameterType="java.util.Map" resultMap="member">
			select style.style_value
			from user
			join user_style
			on user.user_id = user_style.user_id
			join style
			on style.style_no = user_style.style_no 
			where user_style.user_id = #{userId}
			;
		</select>
		
		<!-- 회원색상보기 -->
     	<select id="userColor" parameterType="java.util.Map" resultMap="member">
			select color.color_value
			from user
			join user_color
			on user.user_id = user_color.user_id
			join color
			on color.color_no = user_color.color_no 
			where user_color.user_id = #{userId}
			;
		</select>
		
		<!-- 회원상세정보보기 -->
     	<select id="userDetail" parameterType="java.util.Map" resultMap="member">
		<!-- 일반회원기본정보 -->
			select user_id
				,user_nick
				,user_name
				,user_gender
				,user_email
				,user_tel
				,user_addr
				,user_age
				,user_tall
				,user_size
				,user_level
				,user_date 
			from user
			where user_id = #{userId}
			;
		</select>
		
		<!-- 회원리스트 카운트 조회 -->
     	<select id="getBoardCount" parameterType="com.ksmart.harulook.member.service.MemberDto" resultType="int">
			SELECT COUNT(*) FROM user WHERE user_level = #{level}
    	</select>
		
		<!-- 전체회원리스트쿼리 -->
     	<select id="userList" parameterType="java.util.Map" resultMap="member">
			select user_id
					,user_nick
					,user_name
					,user_point
					,user_date
					,user_bs_name
					,user_tel 
			from user
			where user_level = #{level}
			ORDER BY user_date DESC 
       		LIMIT #{beginRow}, #{pagePerRow}
			;
    	</select>

		<!-- 닉네임중복체크 -->
     	<select id="nickcheck" parameterType="java.util.Map" resultType="String">
			select user_nick
			from user
			where user_nick = #{nickcheck}
			;
    	</select>

		<!-- 아이디중복체크 -->
     	<select id="idcheck" parameterType="java.util.Map" resultType="String">
			select user_id
			from user
			where user_id = #{idcheck}
			;
    	</select>

		<!-- 일반회원가입입력폼 -->
     	<insert id="userinsert" parameterType="com.ksmart.harulook.member.service.MemberDto">
			insert into user(
				user_id
				,user_pw
				,user_nick
				,user_name
				,user_tel
				,user_email
				,user_addr
				,user_gender
				,user_age
				,user_tall
				,user_size
				,user_q
				,user_a
				,user_level
				,user_point
				,user_date
			) 
			values(
				#{userId}
				,#{userPw}
				,#{userNick}
				,#{userName}
				,#{userTel}
				,#{userEmail}
				,#{userAddr}
				,#{userGender}
				,#{userAge}
				,#{userTall}
				,#{userSize}
				,#{userQ}
				,#{userA}
				,'일반회원'
				,0
				,date(now())
			);
		</insert>
      
</mapper>


